<!DOCTYPE HTML>
<html>
	<head>
		<title>kekalorpa</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="../static/assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">
					<header id="header">
						<h1>La temperatura <br />en Buenos Aires según...</h1>
						<br />
						<h2>...el Servicio Meteorologico Nacional: {{ smn_temp }} °C</h2>
						<h2>...Accuweather.com: {{ accu_temp }} °C</h2>
						<h2>...The Weather Channel: {{ wc_temp }} °C</h2>
						<p>Última actualización: {{ lastupdate }} </p>
					</header>
					<footer id="footer">
						<span class="copyright">&copy; briancurt.</span>
					</footer>
			</div>
		</div>
		<!--[if lte IE 8]><script src="../static/assets/js/ie/respond.min.js"></script><![endif]-->
		<script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>
